#PyCharm files
__pycache__/
.idea/

#jupyter notebook files
.ipynb_checkpoints/

# dir: DNABindingSite/
DNABindingSite/.ipynb_checkpoints/
DNABindingSite/data/
!DNABindingSite/data/*.fasta
!DNABindingSite/data/*.txt
DNABindingSite/log/

DNABindingSite/program/.idea/
DNABindingSite/program/.ipynb_checkpoints/
DNABindingSite/program/__pycache__/
DNABindingSite/program/model/
DNABindingSite/program/bottleneck-CA/
